################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoMaticTextClassification/.vs/AutoMaticTextClassification/v15
/.vs/AutomaticTextClassification/v15
/.vs
/AutoMaticTextClassification/.vs/AutoMaticTextClassification/DesignTimeBuild
/AutoMaticTextClassification/AutoMaticTextClassification/obj/Debug
/AutoMaticTextClassification/AutoMaticTextClassification/Properties
/AutoMaticTextClassification/bin/Debug
