################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoMaticTextClassification/.vs/AutoMaticTextClassification/v15
